<section class="contactForm">
    <div class="container bg-light mx-auto contactFormContainer">
        <div class="row">
            <div class="col col-12 mt-3">
                <h3 class="text-center">Kontaktní formulář</h3>
                <p class="text-center mt-3 mb-4">Chcete párové fotky, rodinné s dětmi, či prostě jen památku na svého mazlíčka? 
                  Nebo něco úplně jiného? Neváhejte mne kontaktovat skrze formulář níže. Spojím se s Vámi a domluvíme všechny podrobnosti.
                </p>
            </div>
        </div>
        <form class="row g-3 needs-validation " method="post" enctype="multipart/form-data" action="/kontakt/send" id="contactForm">
          <%- include('../partials/_contact_form.ejs') %>
        </form>
    </div>
</section>