<div class="card">
  <h3>Login</h3>
  <div class="inputBox">
      <input type="text" required="required" id="adminInput" name="user">
      <span class="user">Username</span>
  </div>

  <div class="inputBox">
      <input type="password" required="required" name="password" id="passwordInput" >
      <span>Password</span>
  </div>

  <button class="btn btnLogin" type="submit">Login</button>
</div>