        <div class="row">
            <div class="col col-12">
                <div class="input-group mb-3">
                    <input type="file" id="image-input" name="image" required>
                    <img id="preview-image" src="" alt="Preview">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="input-group mb-3">
                    <input class="form-control" type="text" id="name-input" name="photoName" placeholder="Jméno fotky" required>
                </div>
            </div>
        </div>

