        <div class="row">
            <div class="col col-12">
                <div class="input-group mb-3">
                    <input type="file" id="image-input" name="image" required multiple>
                    <img id="preview-image" src="" alt="Preview">
                </div>
            </div>
        </div>


