<section>
    <div class="container d-flex justify-content-center align-items-center containerLogin">
        <div class="row">
            <div class="col-12">
                <form  method="POST" action="/admin/login" class="" id="loginForm" >
                    <%- include('./_login_form.ejs') %>
                </form>
            </div>
        </div>
    </div>
</section>