<div class="col-md-6">
    <label for="firstName" class="form-label">Jméno</label>
    <input type="text" class="form-control" id="firstName" name="firstName" value="Mark" required>
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Příjmení</label>
    <input type="text" class="form-control" id="lastName" name="lastName" value="Otto" required>
  </div>
  <div class="col-md-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <div class="invalid-feedback">
      Prosím zadejte platnou e-mailovou adresu.
    </div>
  </div>
  <div class="col-md-3">
    <label for="telephone" class="form-label">Tel.:</label>
    <input type="tel" class="form-control" id="telephone" name="telephone" required>
    <div class="invalid-feedback">
      Prosím zadejte svoje telefonní číslo správně.
    </div>
  </div>
  <div class="col textareaCol">
    <label for="message" class="form-label">Vaše zpráva</label>
    <textarea class="form-control formTextArea" aria-label="message" id="message" name="message" required></textarea>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Souhlasím s využití vaších informací.
      </label>
      <div class="invalid-feedback">
        Musíte souhlasit s podmínkami.
      </div>
    </div>
  </div>
  <div class="col-12 text-end mb-4 me-2">
    <button class="btn btn_form_submit" type="submit" value="submit" id="formBtn">Odeslat</button>
  </div>