<div class="col-md-6">
    <label for="firstName" class="form-label">Jméno</label>
    <input type="text" class="form-control" id="firstName" name="firstName" value="Mark" required>
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Příjmení</label>
    <input type="text" class="form-control" id="lastName" name="lastName" value="Otto" required>
  </div>
  <div class="col-md-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <div class="invalid-feedback">
      Prosím zadejte platnou e-mailovou adresu.
    </div>
  </div>
  <div class="col-md-3">
    <label for="telephone" class="form-label">Tel.:</label>
    <input type="text" inputmode="numeric" class="form-control" id="telephone" name="telephone" required>
    <div class="invalid-feedback">
      Prosím zadejte svoje telefonní číslo správně.
    </div>
  </div>
  <div class="col">
    <label for="message" class="form-label">Vaše zpráva</label>
    <textarea class="form-control formTextArea" aria-label="message" id="message" name="message" required></textarea>
  </div>
  <div class="row  my-3 me-2">
    <div class="col-12 col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <span class="d-flex pt-1">
            Souhlasím s využití vaších
            <button type="button " class="gdprBtnForm" data-bs-toggle="modal" data-bs-target="#gdprModal">
              informací.
            </button>
          </span>
        <div class="invalid-feedback">
          Musíte souhlasit s podmínkami.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 text-end mt-2 mt-md-0">
      <button class="btn btn_form_submit" type="submit" value="submit" id="formBtn">Odeslat</button>
    </div>
  </div>

  
<!-- gdpr Modal -->
<div class="modal fade" id="gdprModal" tabindex="-1" aria-labelledby="gdprModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="gdprModalLabel">Zpracování osobních údajů</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tomáš Rybenský bude zpracovávat Vaše osobní údaje v souladu s 
          Nařízením Evropského parlamentu a Rady (EU) 2016/679 ze dne 27. 
          dubna 2016 o ochraně fyzických osob v souvislosti se 
          zpracováním osobních údajů a o volném pohybu těchto údajů 
          a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů) - 
          dále jen <strong>„Nařízení"</strong>.
        </p>
        <p>Tomáš Rybenský bude zpraocvávat vaše osobní údaje, které jí budou poskytnuty, tedy v rozsahu:</p>
      <lu>
        <li><strong>Identifikační údaje (jméno, příjmení)</strong></li>
        <li><strong>Kontaktní údaje (e-mail, telefonní číslo)</strong></li>
      </lu>
      <p class="mt-2">Tomáš Rybenský bude zpracovávat Vaše osobní údaje <strong>za účelem kontaktování s vámi ohledně služeb o které jste si zažádali</strong>
      .
      </p>
      <p><strong>Spávcem</strong> Vaších osobních údajů bude <strong>Tomáš Rybenský</strong>.</p>
      <p>Adresa: Sládkova 860, 539 73 Skuteč</p>
      <p>Telefon: +420 776 078 112</p>
      <p>E-mail: <span class="email"> foceni.rybensky@gmail.com</span></p>
      <p><strong>V případě jakýchkoliv dotazů v oblasti ochrany osobních údajů nás přímo kontaktujte na e-mailové adrese:</strong><span class="email"> foceni.rybensky@gmail.com</span></p>
      <p>Příjemcem Vaších osobních údajů bude Tomáš Rybenský.</p>
      <p>Ve vztahu ke zpracování Vaších osobních údajů bychom Vás dále chtěli informovat o Vašich následujících právech:</p>
      <%- include('./gdpracordion.ejs') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>