<div class="container-fluid container_footer">
  <div class="row pt-2">
      <div class="col-6 col-md-6 d-flex">
        <p>LOGO</p>
      </div>
      <div class="col-6 col-md-6 text-end ">
          <a href="https://www.instagram.com/photo_rybensky" target="_blank"><i class="bi-instagram icons_footer"></i></a>
      </div>
  </div>
</div>
