<div class="container-fluid container_footer">
    <div class="row">
        <div class="col text-start">
            <p>LOGO</p>
        </div>
        <div class="col text-end">
            <a href="https://www.instagram.com/photo_rybensky" target="_blank"><i class="bi-instagram icons_footer"></i></a>
        </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <a href=""><img src="" alt=""></a>
      </div>
    </div>
</div>