<div class="accordion accordion-flush" id="gdpracordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco1" aria-expanded="false" aria-controls="gdpraco1">
          <strong>1) právo požadovat přístup ke svým osobním údajům</strong>
        </button>
      </h2>
      <div id="gdpraco1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            tedy Vaše právo získat na základě Vaší žádosti informaci (potvrzení), 
            zda jsou či nejsou Vaše osobní údaje zpracovávány. Pokud Vaše osobní údaje zpracovávány jsou, máte právo 
            získat přístup k těmto osobním údajům a zároveň máte právo získat následující informace:
          </p>
          <ul class="gdprul">
            <li class="">účely zpracování</li>
            <li class="">kategorie dotčených osobních údajů</li>
            <li class=""> příjemci nebo kategorie příjemců, kterým Vaše osobní údaje byly nebo budou zpřístupněny, 
              zejména příjemci ve třetích zemích nebo v mezinárodních organizacích</li>
            <li class=""> plánovaná doba, po kterou budou Vaše osobní údaje uloženy, 
              nebo není-li ji možné určit, kritéria použitá ke stanovení této doby</li>
            <li class=""> existence práva požadovat opravu nebo výmaz Vašich osobních údajů nebo omezení 
              jejich zpracování a nebo vznést námitku proti tomuto zpracování</li>
            <li class="">právo podat stížnost u dozorového úřadu, tedy u Úřadu na ochranu osobních údajů, na adrese Pplk. 
              Sochora 27, 170 00 Praha 7, oficiální www: <span class="www"> https://www.uoou.cz</span>.</li>
            <li class="">veškeré dostupné informace o zdroji osobních údajů, pokud je nezískala od Vás</li>
            <li class="">skutečnost, že dochází k automatizovanému rozhodování, včetně profilování, 
              uvedenému v čl. 22 odst. 1 a 4 Nařízení, a přinejmenším v těchto případech smysluplné informace 
              týkající se použitého postupu, jakož i významu a předpokládaných důsledků takového zpracování pro Vás.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco2" aria-expanded="false" aria-controls="gdpraco2">
          <strong>2) právo požadovat opravu svých osobních údajů,</strong>
        </button>
      </h2>
      <div id="gdpraco2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            tedy právo, aby bez zbytečného odkladu opravila nepřesné osobní údaje, které se Vás týkají; 
            dále máte právo na doplnění neúplných osobních údajů, a to i poskytnutím dodatečného prohlášení.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco3" aria-expanded="false" aria-controls="gdpraco3">
          <strong>3) právo požadovat výmaz svých osobních údajů,</strong>
        </button>
      </h2>
      <div id="gdpraco3" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            tedy právo, aby společnost Firma na zážitky, s.r.o. bez zbytečného odkladu vymazala osobní údaje, 
            které se Vás týkají, pokud je dán jeden z těchto důvodů:
          </p>
          <ul class="gdprul">
            <li>Vaše osobní údaje již nejsou potřebné pro účely, pro které byly shromážděny nebo jinak zpracovány</li>
            <li>pokud odvoláte souhlas, na jehož základě byly Vaše osobní údaje zpracovány, 
              a neexistuje žádný další právní důvod pro zpracování</li>
            <li>vznesete námitky proti zpracování Vašich osobních údajů podle čl. 21 odst. 
              1 Nařízení a nebudou existovat žádné převažující 
              oprávněné důvody pro zpracování podle čl. 21 odst. 2 Nařízení</li>
            <li>Vaše osobní údaje byly zpracovány protiprávně</li>
            <li>Vaše osobní údaje musí být vymazány ke splnění právní povinnosti stanovené v právu Evropské unie nebo členského státu, 
              které se na společnost Firma na zážitky, s.r.o., jako na správce, vztahuje</li>
            <li> Vaše osobní údaje byly shromážděny v souvislosti s nabídkou služeb informační společnosti podle čl. 8 odst. 1. Nařízení.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco4" aria-expanded="false" aria-controls="gdpraco4">
          <strong>4) právo na omezení zpracování Vašich osobních údajů,</strong>
        </button>
      </h2>
      <div id="gdpraco4" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            tedy právo, aby bylo omezeno zpracování Vašich osobních údajů, v kterémkoli z těchto případů:
          </p>
          <ul class="gdprul">
            <li>pokud popíráte přesnost Vašich osobních údajů, 
              a to na dobu potřebnou k tomu, aby se mohlo přesnost Vašich osobních údajů ověřit</li>
            <li>zpracování je protiprávní a Vy odmítnete výmaz Vašich osobních údajů a 
              místo toho budete žádat o omezení použití Vašich osobních údajů</li>
            <li>pokud již Vaše osobní údaje nepotřebuje pro účely zpracování, 
              ale Vy je požadujete pro určení, výkon nebo obhajobu právních nároků</li>
            <li>pokud vznesete námitku proti zpracování Vašich osobních údajů podle čl. 21 odst. 1 Nařízení, 
              dokud nebude ověřeno, zda oprávněné důvody převažují nad Vašimi oprávněnými důvody</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco5" aria-expanded="false" aria-controls="gdpraco5">
          <strong>5) právo na přenositelnost Vašich osobních údajů,</strong>
        </button>
      </h2>
      <div id="gdpraco5" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            tedy právo, získat osobní údaje, které se Vás týkají, které jste poskytl/a, 
            a to ve strukturovaném, běžně používaném a strojově čitelném formátu, a právo předat tyto údaje jinému správci, 
            aniž by tomu bylo nějak bráněno, a to v případě, že:
          </p>
          <ul class="gdprul">
            <li>zpracování je založeno na souhlasu podle čl. 6 odst. 1 písm. 
              a) Nařízení nebo čl. 9 odst. 2 písm. 
              a) Nařízení nebo na smlouvě podle čl. 6 odst. 1 písm. b) Nařízení</li>
            <li> zpracování se provádí automatizovaně.</li>
          </ul>
          <p class="gdprP">
            Při výkonu svého práva na přenositelnost údajů máte právo na to, aby 
            osobní údaje byly předány přímo společností Firma na zážitky, s.r.o. 
            správci druhému, je-li to technicky proveditelné.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco6" aria-expanded="false" aria-controls="gdpraco6">
          <strong>6) právo vznést námitku,</strong>
        </button>
      </h2>
      <div id="gdpraco6" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            tedy právo, z důvodů týkajících se Vaší konkrétní situace, 
            kdykoli vznést námitku proti zpracování Vašich osobních údajů, 
            které jsou zpracovávány na základě právních důvodů:
          </p>
          <p class="gdprP">
            - zpracování je nezbytné pro plnění úkolu prováděného ve veřejném zájmu nebo při výkonu veřejné moci, kterým je správce pověřen, nebo
          </p>
          <p class="gdprP">
            - zpracování je nezbytné pro účely oprávněných zájmů příslušného správce či třetí strany.
          </p>
          <p class="gdprP">
            Vznesete-li námitku proti zpracování Vašich osobních údajů Vaše osobní údaje nebudou dále zpracovávány, 
            pokud neprokáže závažné oprávněné důvody pro jejich zpracování, které převažují nad Vašimi zájmy nebo právy a svobodami, 
            nebo pro určení, výkon nebo obhajobu právních nároků.
          </p>
          <p class="gdprP">
            Námitku lze vznést i proti zpracování osobních údajů pro účely přímého marketingu nebo profilování. 
            Pokud vznesete námitku proti zpracování pro účely přímého marketingu, 
            nebudou již Vaše osobní údaje pro tyto účely zpracovávány.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gdpraco6" aria-expanded="false" aria-controls="gdpraco6">
          <strong>7) právo podat stížnost</strong>
        </button>
      </h2>
      <div id="gdpraco6" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#gdpracordion">
        <div class="accordion-body">
          <p class="gdprP">
            u dozorového úřadu, tedy u <strong>Úřadu na ochranu osobních údajů</strong>, na adrese Pplk. Sochora 27, 170 00 Praha 7, oficiální www: <span class="www">
              https://www.uoou.cz
            </span>.
          </p>
        </div>
      </div>
    </div>
  </div>