<section class="photo_section_name my-4">
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h1>Páry/Rodiny</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                  Jste zamilovaní a chcete společnou fotografii, či fotku do rodinného alba třeba i s babičkou? Není problém. Ve všem rád vyhovím.                       
                </p>
            </div>
        </div>
    </div>
  </section>
  <section class="section_gallery my-5">
    <% if (gallery && gallery.photos && gallery.photos.length > 0) { %>
      <div class="container gallery ">
          <%- include('../partials/gallery.ejs') %>
      </div>
    <% } %>
  </section>