<section class="photo_section_name my-4">
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <h1>Páry/Rodiny</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                  
                  Jste zamilovaní a chcete společnou fotografii, či fotku do rodinného alba třeba i s babičkou? Není problém. Ve všem rád vyhovím.                       
                </p>
            </div>
        </div>
    </div>
  </section>
  <section class="section_gallery my-5">
        <div class="container gallery">
            <div class="row row-cols-1 row-cols-lg-4 g-3 gallery_row">
                <div class="col gallery_col col-auto">
                  <a href="https://images.pexels.com/photos/3196887/pexels-photo-3196887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-lightbox="mygallery">
                    <img src="https://images.pexels.com/photos/3196887/pexels-photo-3196887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Husky" class="gallery_item">
                  </a>
                </div>
                <div class="col gallery_col col-auto">
                  <a href="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-lightbox="mygallery">
                    <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mbappe" class="gallery_item">
                  </a>
                </div>
                <div class="col gallery_col col-auto">
                  <a href="https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-lightbox="mygallery">
                    <img src="https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="fox" class="gallery_item">
                  </a>
                </div>
                <div class="col gallery_col col-auto">
                  <a href="https://images.pexels.com/photos/2889742/pexels-photo-2889742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-lightbox="mygallery">
                    <img src="https://images.pexels.com/photos/2889742/pexels-photo-2889742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Horses" class="gallery_item">
                  </a>
                </div>
                <div class="col gallery_col col-auto">
                  <a href="https://images.pexels.com/photos/660266/pexels-photo-660266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-lightbox="mygallery">
                    <img src="https://images.pexels.com/photos/660266/pexels-photo-660266.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Ducks" class="gallery_item">
                  </a>
                </div>
                <div class="col gallery_col col-auto">
                  <a href="https://images.pexels.com/photos/3396657/pexels-photo-3396657.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-lightbox="mygallery">
                    <img src="https://images.pexels.com/photos/3396657/pexels-photo-3396657.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Lama" class="gallery_item">
                  </a>
                </div>
            </div>
        </div>
  </section>