.containerLogin{
    height: 100vh;
}

.dashboard{
    height: 100%;
}
/* when src is back "#" img can be still seen, other works fine */
#preview-image[src=""]{
    display: none;
}
#preview-image {
    max-width: 15rem;
    max-height: 10rem;
}
.delete_form, .upload_form {
    height: 400px;
    width: 100%;
    padding: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.update_form, .orderUpdate_form{
    width: 1000px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 15px;
}
#deleteForm, #uploadForm{
    height: 100%;
    width: 100%;
}

.galleryDeleteForm, .galleryUploadForm {
    display: flex;
    flex-wrap: wrap;
    height: 19.9375rem;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.galleryUpdateForm{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 180px));
    grid-template-rows: repeat(auto, 100px);
    gap: 1rem;

    
}
/* delete form div, update form div */
.galleryDiv, .image-container{
    margin: 5px;
    flex-grow: 1;
    height: 100px;
    max-width: max-content;
}
.imgDeleteForm, .imgUpdateForm{
    height: 100px;
}
.input-group{
    max-width: max-content;
}
/* blue border when img is checked */
.input-group input[type="checkbox"] {
   display: none;
}
  
.input-group label {
   display: inline-block;
   cursor: pointer;
}
  
#deleteForm .input-group input[type="checkbox"]:checked + label > img {
   border: 3px solid blue;
   overflow: hidden;
}
  
#updateForm .input-group input[type="checkbox"]:checked + label > img {
   border: 3px solid blue;
   overflow: hidden;
}
#updateForm > .row > .form-select, #orderGalleryUpdateForm > .row > .form-select{
    max-width: 200px;
}

/* sortable gallery */
#photoSortableContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 180px));
    grid-template-rows: repeat(auto, 100px);
    gap: 1rem;
}

#photoSortableContainer > .galleryDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#photoSortableContainer > .galleryDiv > .input-group> .imgUpdateForm{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}