@font-face {
    font-family: 'Montserrat';
    src: url('../modules/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
html,body{
    height: 100%;
    background-color: #ffefd5;
    position: relative;
    margin: 0;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
}
h1, h2, h3, h4, h5{
    color: black;
    font-weight: 700;
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer {
    flex-shrink: 0;
    height: 75px;
}
p{
    font-size: 18px;
    font-family: 'Montserrat';  
    line-height: 1.6rem;
    font-weight: 700;
}
li{
    font-family: 'Montserrat';
}
.nav-link, .navbar-brand{
    text-decoration: none;
    color:black
}
.icons_navbar, .icons_footer {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.contactForm{
    position: relative;
    margin-top: 25%;
}
.contactFormContainer{
    border-radius: 10px;
    box-shadow: rgba(255, 239, 213, 1) 0px -50px 36px -28px inset;
}

.btn_form_submit{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,
  rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,
  rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,
  rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.btn_form_submit:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
@media only screen and (max-width:575px) {
    .gallery_item{
        height:11.75rem;
        width: 90vw;
    }

    .hero_image_aboutMe{
        object-fit: contain;
        max-width: 100vw;
        height: auto;
    }
}
@media only screen and (min-width:576px) {

}
@media only screen and (min-width:767px){
    .containerAboutMe{
        height: 60rem;
    }
    .hero_image_aboutMe{
        width: 100vw;
    }
}

@media only screen and (min-width: 992px){
    /* zoom in!!! + masonryjs css */
    .gallery {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .gallery_col {
        width: auto;
        height: 22rem;
        overflow: hidden;
        padding: 0 0 0 0;
        margin-bottom: 10px;
    }
    .gallery_item{
        width: 100%;
        height: 200px;
        object-fit:cover;
        overflow: hidden;
    }
    .gallery_col>a> .gallery_item{
        /* display: block; */
        transition: 0.75s;
               
    }
    .gallery_col:hover .gallery_item{
        overflow: hidden;
        transform: scale(1.3);
    }
    .containerAboutMe{
        max-height: 40rem;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .about_me_col{
        opacity: 0.71;
    }
    .hero_img_col > .hero_image_aboutMe{
        width: auto;
        height: 100%;
        
        
    }
    
}