<section class="photo_section_name my-4">
    <div class="container">
      <div class="row">
        <div class="col col-md-6 text-start">
            <div class="row my-3">
              <div class="col">
                  <h1>Zvířata</h1>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p>
                    Máte kočku nebo psa, či jiného mazlíčka a chcete si ho nechat zvěčnit? Vašeho člena rodiny Vám velmi rád nafotím, ať už u Vás doma či v přírodě.
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="/kontakt" class="btn btnContact" >
                Objednat focení
              </a>
            </div>
          </div>
        </div>
        <div class="col col-md-6">

        </div>
      </div>
    </div>
  </section>
  <section class="section_gallery my-5">
    <% if (gallery && gallery.photos && gallery.photos.length > 0) { %>
      <div class="container gallery">
          <%- include('../partials/gallery.ejs') %>
      </div>
    <% } %>
  </section>